<div>
  <%= attachment_image_tag @post_image, :image %>
  <p>ショップ名:<%= @post_image.shop_name %></p>
  <p>説明:<%= @post_image.caption %></p>
  <p>ユーザーネーム:<%= @post_image.user.name %></p>
  <p>投稿日時:<%= @post_image.created_at.strftime('%Y%m%d') %></p>
  <!-- @post_image.created_at.strftime('%Y%m%d') 投稿日時の形式を変換しているメソッド-->
  <!-- '%Y%m%d' の記述で年/月/日へ変換している -->
  <% if @post_image.user == current_user %><!-- もし投稿者 == 現在ログインしているユーザーだったら -->
    <%= link_to "削除", post_image_path(@post_image), method: :delete %><!-- 削除する -->
  <% end %><!-- 終わり -->
</div>
<div>
  <p>コメント件数:<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpeg" %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %><!-- もしコメントしたユーザーだったら、削除ボタンを表示する -->
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
      <!-- ↑↑ コメントの削除なのでpost_comment#deleteのルートを確認して、pathまで記述し、（）の中に投稿詳細への引数を記述する -->
      <!-- ()の中が２つあるのは、ネストされているのでpost_comment.post_imageで投稿画像、post_commentでコメントをしていた投稿画像の先に飛ぶようにしている-->
    <% end %>
    <% if @post_image.favorited_by?(current_user) %>
    <!-- ↑↑ 投稿画像に付けられた「いいね」に自分（ログインしているユーザー)が含まれているかどうか -->
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :delete do %><!--　含まれている場合 -->
        ♥<%= @post_image.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :post do %><!-- 含まれていない場合 -->
        ♡<%= @post_image.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>

<div>
  <!-- コメントはpost_imageに結びついたpost_commentにあるため、２つ用意する必要がある -->
  <!-- post_commentをcreateするためのリクエストは、ルーティング -->
  <%= form_with(model:[@post_image,@post_comment],local: true) do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder:"コメントをここに" %>
    <!-- rows:'5'　⇨　テキストエリアの高さを指定する　数字が多いほど高くなる -->
    <!-- 入力欄にあらかじめ記入されている薄い灰色のテキストのこと -->
    <%= f.submit "送信する" %>
  <% end %>
</div>