<!DOCTYPE html>
<html>
  <head>
    <title>Mesitero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %> <!-- devise側で用意しているヘルパー -->
      <li>
        <%= link_to "投稿フォーム",new_post_image_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <!-- method: :deleteでdestroy_user_session_pathへルーティングさせ、ログアウト処理を行う -->
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <!-- 引数にcurrent_user.idを指定することで自分の詳細ページに飛ぶことができる-->
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
